@import './variables.css';

* {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    padding: 3rem;
}

h2 {
    font: 500 36px var(--heading);
}

h3 {
    font: 500 28px var(--heading);
}

p, li {
    font: 14px var(--paragraph);
}

a {
    text-decoration: none;
    color: var(--text);
}

/* CTA */

.cta {
    display: inline-block;

    width: fit-content;
    padding: .5rem 1rem;
    border: 2px solid var(--text);
    border-radius: calc(infinity * 1px);
    box-shadow: 1px 2px;

    font: 600 14px var(--cta);
    background-color: var(--accent);
    color: var(--text);

    cursor: pointer;
}

.cta:hover {
    transform: translate(-1px, -2px);
    box-shadow: 2px 4px;
}

.cta:active {
    transform: translate(1px, 2px);
    box-shadow: 0 0;
}

/* icons */

.icon-l {
    width: 28px;
    height: 28px;
}

.icon-s {
    width: 12px;
    height: 12px;

    padding: 1px;
    border: 2px solid var(--black);
    
    background-color: var(--accent);
    color: var(--black);
}

/* Cards */

.card {
    width: 100%;
    border: 2px solid var(--text);

    background-image: var(--gradient);
}

.card img {
    width: 100%;
    border: 1px solid var(--text);
}

.frame {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4px;
    border-bottom: 2px solid var(--text);

    background-color: var(--secondary);
}

.frame p {
    font: 600 10px var(--code);
    color: var(--black);
}

.controls {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 1.5rem 1rem;
}

.content p {
    text-align: center;
}

/* Banner */

#banner {
    background-image: var(--gradient);
}

.links {
    align-self: flex-end;

    display: flex;
    align-items: center;
    gap: 10px;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6px;
    border-radius: 50%;

    background-color: var(--accent);
    color: var(--bg);
}

.title {
    text-align: center;
    font: 700 58px var(--code);
    letter-spacing: 6px;
}

.subtitle {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.subtitle p {
    font: 22px var(--heading);
}

/* About me */

.photo {
    float: right;
    shape-outside: circle(50%);
    
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin: .5rem;

    background-image: var(--black-gradient);
}

/* Projects */

/* Contact */

.field {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.label {
    font: 600 16px var(--paragraph);
}

.input {
    padding: 2px;
    border: 1px solid var(--text);

    font: 400 16px var(--paragraph);
    background-color: var(--bg);
}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    /* padding: 6px;
    border-radius: 50%; */

    font: 600 10px var(--code);
    /* background-color: var(--accent); */
}

.social:hover {
    color: var(--accent);
}

.social:active {
    color: var(--text);
}